body {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}

p {
    color:darkslategray;
    font-family: Georgia, serif;
}
h1, h2, h3 {
    color: plum;
}
h1, h3 {
    text-align: center;
}
h2{
    text-align: right;
    border-bottom:thin solid lightslategray;
}
hr {
    width: 50%;
    border:thin dotted lightslategray;
}

b, strong { font-weight: bold; color: plum;}
